<div class="modal-content">
  <div class="card mb-0" [ngClass]="{'card-load': loading}">
    <div class="modal-header">
      <h4>Finalizar Venda</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Total:</label>
            <input type="tel" currencyMask class="form-control" readonly [(ngModel)]="dados.total_final">
          </div>
          <div class="form-group">
            <label>Lucro:</label>
            <input type="tel" currencyMask class="form-control" readonly [(ngModel)]="dados.lucro">
          </div>
          <div class="form-group">
            <label>Pago:</label>
            <input type="tel" currencyMask class="form-control" [(ngModel)]="dados.pago" (blur)="calcRestante()">
          </div>
          <div class="form-group">
            <label>Restante:</label>
            <input type="tel" currencyMask class="form-control" readonly [(ngModel)]="dados.restante">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Formas de Pagamento:</label>
            <select class="form-control" [(ngModel)]="dados.pagamento" #pagamento="ngModel"
              [ngClass]="{'is-invalid': !pagamento.valid || pagamento.touched}">>
              <option value="">Selecione uma forma</option>
              <option value="dinheiro">Dinheiro</option>
              <option value="debito">Cartão de Débito</option>
              <option value="pix">PIX</option>
              <option value="credito">Cartão de Crédito</option>
            </select>
          </div>
          <div class="form-group">
            <label>*Status:</label>
              <select class="form-control" required
                [(ngModel)]="dados.status" #status="ngModel"
                [ngClass]="{'is-invalid': !status.valid || status.touched}">
                <option value="">Selecione a situação</option>
                <option value="pendente">Pendente</option>
                <option value="pago">Pago</option>
              </select>
          </div>
          <div class="form-group">
            <label>Tipo de Caixa:</label>
            <select class="form-control" required
                [(ngModel)]="dados.status_movition" #status_movition="ngModel"
                [ngClass]="{'is-invalid': !status_movition.valid || status_movition.touched}">>
              <option value="">Selecione um caixa</option>
              <option value="geral">Geral</option>
              <option value="eletronico">Eletrônico</option>
            </select>
          </div>
          <div class="form-group">
            <label for="prazo" class="fieldset">A prazo?:</label>                            
            <input class="form-check-input ml-3" type="checkbox" id="prazo" name="prazo" [(ngModel)]="dados.status_movition">
          </div>
        </div>
      </div>
      <div class="card-loader" *ngIf="loading"><i class="fas fa-sync-alt anim-rotate"></i></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" [disabled]="loading" (click)="close()">Voltar</button>
    <button type="button" class="btn btn-success" [disabled]="loading" (click)="finish()">
      <div class="spinner-border text-success" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
      <span *ngIf="!loading">Salvar</span>
    </button>
  </div>
</div>